body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #f4f4f4
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* Perso */
.float-my-children > * {
	float:left;
	margin-right:5px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.info {
	height: 278px;
	box-sizing: border-box;
	padding: 10px 16px 16px 16px;
	overflow: hidden;
}

.item {
	margin-top: 30px;
	color: #000;
	display: flex;
}

p.overview {
	word-wrap: break-word;
	white-space: normal;
	color: #4d4d4d;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-top: 30px;
	overflow: hidden;
}

.card {
	height: 300px;
	width: 450px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	background-color: #fff;
	align-items: center;
	display: flex;
	margin: 16px;
}

.title {
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 1.1em;
}

.meta {
	visibility: hidden;
	background-color: rgba(255,255,255,0.9);
	position: relative;
	top: -40px;
	left: 0;
	height: 40px;
	width: 200px;
	z-index: 1;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.test:hover div{
	visibility: visible;
}

.test {
	visibility: visible;
	width: 200px;
	height: 300px;
	display: block;
}

.card .test img {
	max-width: 100%;
}
