<ul class="nav nav-pills nav-stacked">
    <li class="@SettingPages.IndexNavClass(ViewContext)"><a asp-page="./Configuration">Configuration</a></li>
    <li class="@SettingPages.UserManageNavClass(ViewContext)"><a asp-page="./UsersManager">Utilisateurs</a></li>
</ul>

