@page
@model WebAppServer.Pages.Setting.UsersManagerModel
@{
    ViewData["Title"] = "UsersManager";
}

<h2>UsersManager</h2>

<div class="row">
	<div class="col-md-6">
		<p> User list</p>
	</div>
</div>