.float-my-children > * {
	float: left;
	margin-right: 5px;
}

.zeusflex {
	display: flex;
	flex-wrap: wrap;
}

.zeusinfo {
	height: 278px;
	box-sizing: border-box;
	padding: 10px 16px 16px 16px;
	overflow: hidden;
}

.zeusinfo-movie {
	height: 258px;
	width: 250px;
	box-sizing: border-box;
	padding: 5px 16px 5px 8px;
	overflow: hidden;
}

.item {
	margin-top: 30px;
	color: #000;
	display: flex;
}

p.overview {
	word-wrap: break-word;
	white-space: normal;
	color: #4d4d4d;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-top: 15px;
	overflow: hidden;
}

.zeuscard {
	height: 300px;
	width: 450px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	background-color: #fff;
	align-items: center;
	display: flex;
	margin: 16px;
}

.title {
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
}

.original-title {
	text-align: center;
	font-weight: 600;
	font-size: 0.8em;
	color: gray;
}


p.top-separator {
	padding: 3px;
	height: 50px;
	border-top: 1px solid #e3e3e3;
	bottom: 0;
	right: 0;
	display: block;
}

.display-block {
	display: block;
}

.display-line {
	display: inline;
}

.meta {
	visibility: hidden;
	background-color: rgba(255,255,255,0.9);
	position: relative;
	top: -40px;
	left: 0;
	height: 40px;
	width: 200px;
	z-index: 1;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.meta-episode-serie {
	visibility: hidden;
	background-color: rgba(255,255,255,0.9);
	position: relative;
	top: -40px;
	left: 0;
	height: 40px;
	width: 150px;
	z-index: 1;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.test:hover div {
	visibility: visible;
}

.test {
	visibility: visible;
	width: 200px;
	height: 300px;
	display: block;
}

.zeuscard .test img {
	max-width: 100%;
}

.submit-with-icon {
	background: transparent;
	border: 0;
	padding: 0;
	outline: 0;
}

.sectionImgRechercher {
	z-index: 1;
	display: flow-root;
	overflow-y: auto;
	width: 165px;
	height: 550px;
	position: absolute;
	top: 50px;
}

.imgRechercher {
	width: 150px;
	height: 225px;
}

.hide-imgRechercher {
	display: none;
}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #cc7b19;
	box-shadow: 0 0 4px rgba(0,0,0,.6);
	opacity: 1;
	padding: 0 8px;
	line-height: 24px;
	transition: all .2s;
}

.width-200 {
	width: 200px;
}

.width-100 {
	width: 100px;
}

.width-150 {
	width: 150px;
}

.image-episode {
	height: 225px;
	width: 150px;
}

	.image-episode:hover div {
		visibility: visible;
	}

.imageSerie {
	visibility: visible;
	width: 200px;
	height: 300px;
	display: block;
}

.containerSerie {
	position: relative;
	text-align: center;
	color: white;
}

.size-image {
	height: 300px;
	width: 200px;
}

.flex-no-wrap {
	display: flex;
}

.overview-serie {
	font-size: 20px;
	margin-left: 20px;
}

.no-overview-serie {
	margin-left: 20px;
	font-style: oblique;
}

.separator-black {
	background: gray;
	height: 2px;
}

.imageEpisodeSerie {
	margin: 5px;
}

.text-color-black {
	color: black;
	text-align: left;
	font-weight: bold;
}

.margin-10percent {
	margin-left: 10%;
	margin-right: 10%;
}

.margin-5percent {
	margin-left: 5%;
	margin-right: 5%;
}

.text-bold {
	font-weight: bold;
}

.result-search-video {
	margin: 5px;
	width: 150px;
	word-wrap: break-word;
}

.center-content {
	float: none;
	margin: auto;
}

.imagePlusTitre {
	width: 210px;
	height: auto;
	align-items: center;
	margin: 10px;
	border-style: outset;
}

.imagePlusTitre .test img {
	max-width: 100%;
}

.imagePlusTitre .title {
	margin: 2px;
}

.infoDate {
	font-style: italic;
	text-align: right;
	font-size: 10px;
}

.display-log {
	font-size: 10px;
	font-family: monospace;
}

.circle-button {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	color: #ffffff;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	border: 5px solid;
	border-color: #9ff0f0;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.search {
	width: 100%;
	background-color: #fff;
	height: 46px;
	border-bottom: 1px solid #dedede;
}

.input-search {
	border: none;
	font-size: 30px;
	width: 100%;
}
