@page
@model WebAppServer.Pages.Setting.UsersManagerModel

<h2>Gestion des utilisateurs</h2>

<form method="post">
	<table class="table">

		@Html.AntiForgeryToken()

		<thead>
		<tr>
			<th>
				Nom utilisateur
			</th>
			<th>
				Email
			</th>
			<th></th>
		</tr>
		</thead>

		<tbody>

		@foreach (var item in Model.AllUsers)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					<button type="submit"
							class="btn btn-link"
							asp-page-handler="DeleteUser"
							asp-route-attendeeid="@item.Id">
						Supprimer
					</button>
				</td>
			</tr>
		}
		</tbody>
	</table>
</form>