@page
@model WebAppServer.Pages.Wish.WishListModel
@{
	ViewData["Title"] = "WishList";
}

<div class="margin-10percent">

	<h2>Wish list</h2>

	<a asp-page="/Wish/FindWish">Find movies</a>

	<div class="flex">

		<div>Faire l'ajout de la liste des souhaits en film.</div>
	</div>
</div>