@page "/"

@using BlazorZeus.Composants;

<div class="margin-5percent">

	<h3>Films récemments ajoutés</h3>

	<div class="flex">

		@foreach (var itemMovie in MoviesOrdered)
		{
			<CardAffiche Titre="@itemMovie.MovieTmDb.Title"
						DateAjout="@itemMovie.DateAdded"
						UrlImage="@itemMovie.MovieTmDb.PosterPath" />
		}

	</div>


</div>
