@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row margin-10percent">

	<h2>@ViewData["Title"]</h2>
	
	<h4>Creer un nouveau compte.</h4>

	<div class="col-md-4">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Input.UserLogin"></label>
				<input asp-for="Input.UserLogin" class="form-control" />
				<span asp-validation-for="Input.UserLogin" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Input.Password"></label>
				<input asp-for="Input.Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Input.AccountType"></label>
				<select asp-for="Input.AccountType" asp-items="@Model.SelectListCustom" class="form-control"></select>
			</div>

			<button type="submit" class="btn btn-default">Creer</button>
		</form>
	</div>
	
	<div class="col-md-6">
		<hr/>
		<p>La creation d'un compte permet a un autre utilisateur d'acceder au site.</p>
		<p>Pour le type de compte ce qu'il faut savoir :</p>

		<dl class="dl-horizontal">
			<dt>Member</dt>
			<dd>Permet la consultation du site, et le telechargement des videos.</dd>
			<dt>Manager</dt>
			<dd>Comme Member, avec en plus la possibilite de changer les affiches pour les videos.</dd>
		</dl>
	</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
